<div class="form-container">
    <form [formGroup]=" updateForm" (ngSubmit)="onSubmit()">
        <div class="outer-form-container">
            <div class="inner-form-container">
                <mat-form-field appearance="outline">
                    <mat-label>Project Name</mat-label>
                    <input  matInput  [value]="pName"  [readonly]="true">
                <input [hidden]="true" matInput formControlName="projectId"  [value]="pName" [readonly]="true">
                  </mat-form-field>
            </div>

            <div class="inner-form-container">
                <mat-form-field appearance="outline">
                    <mat-label>Date</mat-label>
                    <input matInput formControlName="date" placeholder="Date" [matDatepicker]="datePicker" type="text">
                    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                    <mat-datepicker #datePicker></mat-datepicker>
                    <!-- Add error message handling if needed -->
                </mat-form-field>
                
            </div>

            <div class="inner-form-container">
                <mat-form-field appearance="outline">
                    <mat-label>General Updates</mat-label>
                    <input matInput formControlName="generalUpdates" placeholder="General Updates" class="custom-input" type="text">
                    <!-- Add error message handling if needed -->
                </mat-form-field>
            </div>

            <div class="inner-form-container">
                <button mat-raised-button color="primary" type="submit">Submit</button>
                <button mat-raised-button color="primary" (click)="downloadAsPdf() ">Download as PDF</button>
            </div>
        </div>
    </form>
</div>


<!-- to display the project updates -->
<div class="table-container">
    <table class="updates-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>General Updates</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let update of projectUpdates">
          <td>{{ update.date | date: 'yyyy-MM-dd' }}</td>
          <td>{{ update.generalUpdates }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  