<div class="form-container">
  <form [formGroup]="matrixForm" (ngSubmit)="onSubmit()">
    <div class="outer-form-container">
      <div class="inner-form-container">
        <mat-form-field appearance="outline">
          <mat-label>Project Name</mat-label>
          <input matInput [value]="pName" [readonly]="true">
          <input [hidden]="true" matInput formControlName="projectId" [value]="pName" [readonly]="true">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" placeholder="Enter Name">
        </mat-form-field>
        
        <mat-form-field appearance="outline">
          <mat-label>Level</mat-label>
          <mat-select formControlName="level" placeholder="Select Level">
            <mat-option value="Level1">Level1</mat-option>
            <mat-option value="Level2">Level2</mat-option>
            <mat-option value="Level3">Level3</mat-option>
            <mat-option value="Level4">Level4</mat-option>
            <mat-option value="Level5">Level5</mat-option>
          </mat-select>
        </mat-form-field>
        
      </div>


      <div class="inner-form-container">
 
        <mat-form-field appearance="outline">
          <mat-label>Escalation Type</mat-label>
          <mat-select formControlName="escalationType" placeholder="Select Escalation Type">
            <mat-option value="Operational">Operational</mat-option>
            <mat-option value="Financial">Financial</mat-option>
            <mat-option value="Technical">Technical</mat-option>
          </mat-select>
        </mat-form-field>
        
        
 
        <mat-form-field appearance="outline">
          <mat-label>Role</mat-label>
          <input matInput formControlName="Role" placeholder="Enter Role">
        </mat-form-field>
      </div>

   
      <div class="inner-form-container">
        <button mat-raised-button color="primary" type="submit">Submit</button>
        <button mat-raised-button color="primary" (click)="downloadMatrixAsPdf()">Download as PDF</button>
      </div>
    </div>
  </form>
</div>



<!-- Displaying Escalation Matrix Table -->
<table class="escalation-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Level</th>
      <th>Escalation Type</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let matrixItem of escalationMatrix">
      <td>{{ matrixItem.name }}</td>
      <td>{{ matrixItem.level }}</td>
      <td>{{ matrixItem.escalationType }}</td>
      <td>{{ matrixItem.Role }}</td>
    </tr>
  </tbody>
</table>
