<div class="form-container">
    <form [formGroup]="phaseMilestoneForm" (ngSubmit)="onSubmit()">
      <div class="outer-form-container">
        <div class="inner-form-container">
          <mat-form-field appearance="outline">
            <mat-label>Project Name</mat-label>
            <input matInput [value]="pName" [readonly]="true">
            <input [hidden]="true" matInput formControlName="projectId" [value]="pName" [readonly]="true">
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" placeholder="Phase 1 or Phase 2...or Phase n">
            <!-- Add error message handling if needed -->
          </mat-form-field>
        </div>
  
        <div class="inner-form-container">
          <mat-form-field appearance="outline">
            <mat-label>Start Date</mat-label>
            <input matInput formControlName="startDate" placeholder="Start Date" [matDatepicker]="startDatePicker">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
            <!-- Add error message handling if needed -->
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>End Date</mat-label>
            <input matInput formControlName="endDate" placeholder="End Date" [matDatepicker]="endDatePicker">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
            <!-- Add error message handling if needed -->
          </mat-form-field>
        </div>
  
        <div class="inner-form-container">
          <mat-form-field appearance="outline">
            <mat-label>Approval Date</mat-label>
            <input matInput formControlName="approvalDate" placeholder="Approval Date" [matDatepicker]="approvalDatePicker">
            <mat-datepicker-toggle matSuffix [for]="approvalDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #approvalDatePicker></mat-datepicker>
            <!-- Add error message handling if needed -->
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status" placeholder="Select Status">
                <mat-option value="NotStarted">Not Started</mat-option>
                <mat-option value="InProgress">In Progress</mat-option>
                <mat-option value="Completed">Completed</mat-option>
                <mat-option value="OnHold">On Hold</mat-option>
                <mat-option value="Cancelled">Cancelled</mat-option>
                <mat-option value="Deferred">Deferred</mat-option>
                <mat-option value="Delayed">Delayed</mat-option>
                <mat-option value="OnTrack">On Track</mat-option>
                <mat-option value="SignOffPending">Sign Off Pending</mat-option>
                <mat-option value="InvoicePending">Invoice Pending</mat-option>
                <mat-option value="PaymentPending">Payment Pending</mat-option>
                <mat-option value="PaymentReceived">Payment Received</mat-option>
                <mat-option value="PaymentDelayed">Payment Delayed</mat-option>
            </mat-select>
        </mat-form-field>
        
        </div>
  
        <div class="inner-form-container">
          <mat-form-field appearance="outline">
            <mat-label>Revised Completion Date</mat-label>
            <input matInput formControlName="revisedCompletionDate" placeholder="Revised Completion Date" [matDatepicker]="revisedCompletionDatePicker">
            <mat-datepicker-toggle matSuffix [for]="revisedCompletionDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #revisedCompletionDatePicker></mat-datepicker>
            <!-- Add error message handling if needed -->
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Comments</mat-label>
            <input matInput formControlName="comments" placeholder="Comments">
            <!-- Add error message handling if needed -->
          </mat-form-field>
        </div>
  
        <div class="inner-form-container">
          <button mat-raised-button color="primary" type="submit">Submit</button>
          <button mat-raised-button color="primary" (click)="downloadAsPdf()">Download as PDF</button>
        </div>
      </div>
    </form>
  </div>
  
  <!-- displaying all the phase-milestones -->
  <table class="phase-milestone-table">
    <thead>
      <tr>
        <th class="pm-table-header">Title</th>
        <th class="pm-table-header">Start Date</th>
        <th class="pm-table-header">End Date</th>
        <th class="pm-table-header">Approval Date</th>
        <th class="pm-table-header">Status</th>
        <th class="pm-table-header">Revised Completion Date</th>
        <th class="pm-table-header">Comments</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let milestone of phaseMilestones">
        <td>{{ milestone.title }}</td>
        <td>{{ milestone.startDate | date }}</td>
        <td>{{ milestone.endDate | date }}</td>
        <td>{{ milestone.approvalDate | date }}</td>
        <td>{{ milestone.status }}</td>
        <td>{{ milestone.revisedCompletionDate | date }}</td>
        <td>{{ milestone.comments }}</td>
      </tr>
    </tbody>
  </table>
  