<mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup" label="Approved Team">
      <!-- Approved team -->
      <app-approved-team [projectId]="projectId"></app-approved-team>

    </mat-step>

    <mat-step [stepControl]="secondFormGroup" label="Client Feedback">
      <!-- client feedback -->
      <app-client-feedback [projectId]="projectId"></app-client-feedback>
    </mat-step>

    <mat-step label="Project Resources">
<!-- resources here -->
<app-resources [projectId]="projectId"></app-resources>
    </mat-step >

    <mat-step label="Project Updates">
 <!-- project updates here -->
 <app-project-updates [projectId]="projectId"></app-project-updates>
    </mat-step>

    <mat-step label="MoMs of Client meetings">
      <!-- meeting minutes here -->
    <app-meeting-minute [projectId]="projectId"></app-meeting-minute>
      </mat-step>
  </mat-stepper>