<div>
    <h2>All Projects</h2>
    <table>
      <thead>
        <!-- <button (click)="loadProjects()">Load</button> -->
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects">
          <td>{{ project.projectName }}</td>
          <td>{{ project.description }}</td>
          <td>
            <!-- <button (click)="editProject(project)">Edit</button> -->
            <!-- <button (click)="deleteProject(project.id)">Delete</button> -->
          </td>
        </tr>
      </tbody>
    </table>
</div>
