
<!-- 
This is just for trying, to make the project name ckickable and then route to the details components -->
<div class="container">
  <h2>All Projects</h2>
  <table class="project-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects; let i = index">
        <td>
          <!-- Add router link to navigate to a different component -->
          <a [routerLink]="['/project-details', project.id]">{{ project.projectName }}</a>
        </td>
        <td>{{ project.description }}</td>
        <td>
          <button class="edit-button" (click)="editProject(projectIds[i])">Edit</button>
          <button class="delete-button" (click)="deleteProject(projectIds[i])">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
