
    <nav class="navbar">
      <div class="container">
        <h2>Customer Success</h2>
        <form class="d-flex">
          <div class="input-group">
            <input
              class="form-control"
              id="search-bar"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">Search</button>
          </div>
        </form>
      </div>
    </nav>
    
    <mat-drawer-container class="example-container">
      <mat-drawer mode="side" opened id="drawer">
        <app-sidenav></app-sidenav>
      </mat-drawer>
      <mat-drawer-content>
        <!-- Project details is called here -->
        <mat-stepper [linear]="isLinear" #stepper>


          <mat-step [stepControl]="firstFormGroup" label="Add New Project ">
              
              <form [formGroup]="firstFormGroup" (ngSubmit)="submitForm()">
                  <div>
                    <mat-form-field appearance="outline">
                      <mat-label>Project Name</mat-label>
                      <input matInput formControlName="Name" placeholder="Project Name">
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field appearance="outline">
                      <mat-label>Description</mat-label>
                      <input matInput formControlName="Description" placeholder="Description">
                    </mat-form-field>
                  </div>
                  <button mat-raised-button color="primary" type="submit">Submit</button>
                </form>
            
      </mat-step>
      
      
      
          <mat-step [stepControl]="secondFormGroup" label="Invite Client">
            <form [formGroup]="secondFormGroup">
              <mat-form-field>
                <mat-label>CLient Email Address</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="abc@gmail.com">
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>All Done</ng-template>
            <p>Welcome to Customer Success</p>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
          </mat-step>
        </mat-stepper>
      </mat-drawer-content>
    </mat-drawer-container>
