.form-container{
    padding: 18px;
  }
  
  .mat-form-field{
    margin: 8px;
    width: 19rem;
  }
  
  button{
  width: 6rem;
    margin-left: 12px;
  }
  mat-form-field{
    margin-top: 30px;
    margin-left:50px;
  
  }