
<!-- this is trying for auto fill the id field -->
<div class="form-container">
  <form [formGroup]="resourceForm" (ngSubmit)="onSubmit()">
    <div class="outer-form-container">
      <div class="inner-form-container">
        <mat-form-field appearance="outline">
          <mat-label>Project Name</mat-label>
          <input  matInput  [value]="pName"  [readonly]="true">
          <input [hidden]="true" matInput formControlName="projectId"  [value]="pName" [readonly]="true">
        </mat-form-field>
      </div>

      <div class="inner-form-container">
        <mat-form-field appearance="outline">
          <mat-label>Phase</mat-label>
          <input matInput formControlName="phase" placeholder="Phase">
        </mat-form-field>
      </div>

      <div class="inner-form-container">
        <mat-form-field appearance="outline">
          <mat-label>Number of Resources</mat-label>
          <input matInput formControlName="numberOfResources" placeholder="Number of Resources">
        </mat-form-field>
      </div>

      <div class="inner-form-container">
        <mat-form-field appearance="outline">
          <mat-label>Role</mat-label>
          <input matInput formControlName="role" placeholder="Role">
        </mat-form-field>
      </div>

      <div class="inner-form-container">
        <mat-form-field appearance="outline">
          <mat-label>Availability Percentage</mat-label>
          <input matInput formControlName="availabilityPercentage" placeholder="Availability Percentage">
        </mat-form-field>
      </div>

      <div class="inner-form-container">
        <mat-form-field appearance="outline">
          <mat-label>Duration</mat-label>
          <input matInput formControlName="duration" placeholder="Duration">
        </mat-form-field>
      </div>

      <div class="inner-form-container">
        <button mat-raised-button color="primary" type="submit">Submit</button>
        <button mat-raised-button color="primary" (click)="downloadAsPdf()">Download as pdf</button>
      </div>

    </div>
  </form>
</div>

<!-- Display approved teams for each unique phase -->
 <ng-container *ngFor="let phase of getUniquePhases()">
  <h3 class="phase-heading">Phase {{ phase }}</h3>
  <div class="phase-container">
    <table class="team-table">
      <thead>
        <tr>
          <th class="table-header">Number of Resources</th>
          <th class="table-header">Role</th>
          <th class="table-header">Availability Percentage</th>
          <th class="table-header">Duration</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let team of approvedTeams">
          <ng-container *ngIf="team.phase === phase">
            <td class="table-data">{{ team.numberOfResources }}</td>
            <td class="table-data">{{ team.role }}</td>
            <td class="table-data">{{ team.availabilityPercentage }}</td>
            <td class="table-data">{{ team.duration }}</td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container> 
