
   <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
    <button class="login-btn" (click)="auth.logout({ logoutParams: { returnTo: document.location.origin } })">
      Log out
    </button>

    <app-auditor></app-auditor>
  </ng-container>





  <ng-template #loggedOut>

    <body>
        <header>
            <h1>Customer Success Platform</h1>
        </header>
        <main>
            <section class="login-section">
                <h2>Login to Your Account</h2>
                <button class="login-btn" (click)="auth.loginWithRedirect()">Log in</button>
            </section>
        </main>
        <footer>
            <p>&copy; 2024 Customer Success Platform - All rights reserved.</p>
        </footer>
    </body>

    







    
  </ng-template>
