<div class="form-container">
    <form [formGroup]="meetingMinuteForm" (ngSubmit)="onSubmit()">
      <div class="inner-form-container">
        <mat-form-field appearance="outline">
          <mat-label>Project Name</mat-label>
          <input  matInput  [value]="pName"  [readonly]="true">
          <input [hidden]="true" matInput formControlName="projectId"  [value]="pName" [readonly]="true">
        </mat-form-field>
  
        <mat-form-field appearance="outline">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="meetingDate" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
      </div>
  
      <div class="inner-form-container">
        <mat-form-field appearance="outline">
          <mat-label>MOM Link</mat-label>
          <textarea matInput formControlName="MoMLink" placeholder="MOM Link"></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Duration</mat-label>
            <input matInput formControlName="duration" placeholder="Duration">
          </mat-form-field>
      </div>
      <div class="inner-form-container">
        <mat-form-field appearance="outline">
            <mat-label>Comments</mat-label>
            <textarea matInput formControlName="comments" placeholder="Comments"></textarea>
          </mat-form-field>
      </div>
      <div class="inner-form-container">
        <button mat-raised-button color="primary" type="submit">Submit</button>
        <button mat-raised-button color="primary" (click)="downloadAsPdf()">Download as PDF</button>
      </div>
    </form>
  </div>
  
  <!-- display meeting-minute -->
  <div class="table-container">
    <table class="meeting-minute-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>MOM Link</th>
          <th>Duration</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let minute of meetingMinutes">
          <td>{{ minute.meetingDate }}</td>
          <td>{{ minute.MoMLink}}</td>
          <td>{{ minute.duration }}</td>
          <td>{{ minute.comments }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  