
#drawer{
  height:100%;
  width:200px;
}
.mat-drawer-content{
height:1000px;
}



/* new css for top navbar */
.navbar {
  background-color: #333; /* Background color of the navbar */
  padding: 10px 0; /* Adjust the padding as needed */
  margin-bottom: 8px;
 
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar h2 {
  color: white; /* Text color of the heading */
  margin: 0; /* Remove default margins */
}

.form {
  display: flex;
  align-items: center;
}

.input-group {
  margin-right: 10px; 
}

.form-control {
  width: 300px;
  padding: 8px; 
  border-radius: 5px; 
  border: none; 
}

.btn {
  padding: 8px 16px; 
  border-radius: 5px; 
  border: none; 
}

.btn-outline-success {
  color: #28a745; 
  background-color: transparent; 
  border: 1px solid #28a745; 
  transition: background-color 0.3s, color 0.3s; 
}

.btn-outline-success:hover {
  background-color: #28a745; 
  color: white; 
}

