<div *ngIf="auth.user$ | async as user">
<nav class="navbar">
  <div class="container">
    <h2>Customer Success</h2>
    <form class="d-flex">
      <div class="input-group">
        <input
          class="form-control"
          id="search-bar"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" id="search-btn" type="submit">Search</button>
      </div>
    </form>
  </div>
</nav>

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened id="drawer"
    >Drawer content
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>

<!-- this is the cards  -->
<div class="project-container">
  <div class="project-box">
    <h2>All Projects</h2>
    <p>{{totalProjects }}</p>
  </div>
  <div class="project-box">
    <h2>In Progress</h2>
    <p>{{ inProgress }}</p>
  </div>
  <div class="project-box">
    <h2>Completed</h2>
    <p>{{ completed }}</p>
  </div>
  <div class="project-box">
    <h2>On Hold</h2>
    <p>{{ onHold }}</p>
  </div>
</div>

<!-- cards ends here -->
    <!-- Project details is called here -->
    <app-display-projects></app-display-projects>
  </mat-drawer-content>
</mat-drawer-container>
</div>