/* styling of cards */


.project-container {
  display: flex;
}

.project-box {
  flex: 1;
  margin: 10px;
  padding: 20px;
  background-color: #c2bfbf;
  border-radius: 5px;
  border:2px solid black;
  text-align: center;
}

.project-box h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.project-box p {
  font-size: 18px;
  font-weight: bold;
}

/* styling of cards ends here */

#drawer{
  height:100%;
  width:200px;
}
.mat-drawer-content{
height:1000px;
}

.input-group {
  position: relative; 
}

#search-btn {
  position: absolute; 
  right: 20px; 
  margin-right: 5px; 
  color:white;
  border-radius: 2px;
  background-color:rgb(55, 150, 35);
}



/* new css for top navbar */
.navbar {
  background-color: #333; /* Background color of the navbar */
  padding: 10px 0; /* Adjust the padding as needed */
  margin-bottom: 8px;
 
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar h2 {
  color: white; /* Text color of the heading */
  margin: 0; /* Remove default margins */
}

.form {
  display: flex;
  align-items: center;
}

.input-group {
  margin-right: 10px; 
}

.form-control {
  width: 300px;
  padding: 8px; 
  border-radius: 5px; 
  border: none; 
}

.btn {
  padding: 8px 16px; 
  border-radius: 5px; 
  border: none; 
}

.btn-outline-success {
  color: #28a745; 
  background-color: transparent; 
  border: 1px solid #28a745; 
  transition: background-color 0.3s, color 0.3s; 
}

.btn-outline-success:hover {
  background-color: #28a745; 
  color: white; 
}

