.form-container{
    padding: 20px;
  }
  
  mat-form-field{
    margin: 10px;
    width: 20rem;
  }
  
  button{
  width: 6rem;
    margin-left: 10px;
  }

  /* styling display the project resources data */
  .resource-table-container {
    overflow-x: auto;
  }
  
  .resource-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .resource-table th,
  .resource-table td {
    border: 1px solid #ccc;
    padding: 8px;
  }
  
  .resource-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .resource-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  